services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - D:\code\repos\studies\pyhton\mysql:/var/lib/mysql
    ports:
      - "${DB_PORT}:3306"
    expose:
      - "3306"
